.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: $main-section-padding;
    padding-bottom: $main-section-padding;
  }
}

.section--no-padding-top {
  padding-top: 0;
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.section--grey-bg {
  background-color: $second-background-color;
}

.section__title {
  font-size: 28px;
  margin-bottom: 30px;
  line-height: 1.17;
  font-weight: $font-weight-first;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: $main-margin-bottom;
  }
}
