.features {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: -15px;
  }
}

.features__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);

    &:not(:last-child) {
      margin-right: $main-margin-right;
    }
  }
}

.features__icon-bg {
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $second-background-color;
  background-repeat: no-repeat;
  background-position: center;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: $title-margin-main;
  font-weight: $font-weight-first;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  color: $second-text-color;
}
