.team-card__scene {
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
    perspective: 600px;
    overflow: hidden;
  }
}

.team-card__scene:hover .team-card,
.team-card__scene:hover .team-card {
  @media screen and (min-width: 1200px) {
    transform: rotateY(180deg);
    cursor: pointer;
  }
}

.team-card {
  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
}

.team-card__face {
  @media screen and (min-width: 1200px) {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
}

.team-card__back {
  @media screen and (min-width: 1200px) {
    background-color: rgb(241, 241, 241);
    transform: rotateY(180deg);
    padding: 15px;
  }
}

.team-card__title-back {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 8px;

    font-weight: $font-weight-second;
    font-size: 16px;
    text-align: center;
  }
}

.team-card__text-back {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
  font-size: 14px;
  line-height: 1.71;
}
