.works-examples {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    margin-right: calc(-1 * #{$main-margin-right});
    margin-bottom: calc(-1 * #{$main-margin-right});
  }
}

.works-examples__item {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * #{$main-margin-right}) / 3);
    margin-right: $main-margin-right;
    margin-bottom: $main-margin-right;
  }
  background-color: #ffffff;
  border: 1px solid #eeeeee;

  &:nth-child(odd) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 30px;
    }
  }
}

.works-examples__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow $main-transition-settings;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.works-examples__img {
  margin-left: auto;
  margin-right: auto;
}

.works-examples__title {
  margin-bottom: 4px;
  font-weight: $font-weight-first;
  font-size: 18px;
  line-height: 2;
  letter-spacing: $letter-spacing-second;
}

.works-examples__text {
  color: $second-text-color;
  font-size: $second-font-size;
  line-height: 1.87;
}

.work-examples__box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  flex-grow: 1;
}

.works-examples__tumb {
  position: relative;
  overflow: hidden;
}

.works-examples__link:hover .work-examples__overlay,
.works-examples__link:focus .work-examples__overlay {
  transform: translateY(0);
}

.work-examples__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform $main-transition-settings;
}

.work-examples__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: $white-text-color;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}
